*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    padding: 1rem;
    
}
.widget{
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
  
}
:root {
  --transition: .75s ease;
}
.widget--1{
    border-radius: 5rem;
    grid-row:1/7 ;
    grid-column:1/5;
    background: linear-gradient(109.6deg, rgb(25, 170, 209) 11.3%, rgb(21, 65, 249) 69.9%);
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
}
.widget--2{
  border-radius: 5rem;
    grid-row:1/7 ;
    grid-column:5/9;
    background: blue;
}
.widget--3{
  border-radius: 5rem;
    grid-row:1/7 ;
    grid-column:9/13;
    background: green;
}
.widget--4{
  border-radius: 5rem;
    grid-row: 8/14;
    grid-column: 1/5;
    
}
.widget--5{
  border-radius: 5rem;
    grid-row: 8/14;
    grid-column: 9/5;
    background: purple;
}
.widget--6{
  border-radius: 5rem;
    grid-row: 8/14;
    grid-column: 9/13;
    background: black;
}


.ball--sun{
  margin:50px 50%;
  border-radius:50%;
  width: 250px;
  height:250px;
  background-color: orange;
  box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow inset;
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position:relative;
  background-color:linear-gradient(#5D9CEC 0vh, #2D6BBC 100vh, #111 200vh, #555 300vh) fixed;
  
}

.ball--moon{

  background-color: #B2B2B2;
  position:relative;
  /*padding: 10px;*/
  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 5px 0 10px 3px rgba(229,229,229,0.3),
              0 0 10px 2px rgba(229,229,229,0.3),
              5px 0 10px 3px rgba(229,229,229,0.3),
               0px 0 3px 2px rgba(229,229,229,0.3);
  top: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ball--moon::after{
  content: "";
  background-color: rgba(162, 162, 162, 0.81);
  display: block;
  position: absolute;
  left:  160px;
  top:  50px;
  width: 40px;  
  height: 40px;
  border-radius:50%;
  box-shadow: 3px 0 0 1px rgba(98, 98, 98, 0.51),
                7px 45px 0 -5px rgba(162, 162, 162, 0.9),
                9px 45px 0 -5px rgba(100, 100, 100, 0.51),
               35px 20px 0 -10px rgba(162, 162, 162, 0.9),
               37px 20px 0 -10px rgba(100, 100, 100, 0.51);
}
.text{
  width: 15rem;
  height: 7rem;
  background: rgba(19, 15, 15, 0.5);
 position: absolute;
  color: white;
  border-radius: 5rem;
  
}
.timebox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chart{
  width: 20rem;
}
.text-tijd{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}